<!-- modal (quickViewModal) -->
<div class="modal fade"  id="modalProductInfo" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon icon-clear"></span></button>
      </div>
      <div class="modal-body">
        <div class="tt-layout-product-info">
<h6 class="tt-title">SIZE GUIDE</h6>
This is an approximate conversion table to help you find your size.
<div class="tt-table-responsive-md">
	<table class="tt-table-modal-info">

<thead><tr>
<th><b>AU/US</b></th> <th><b>EU</b></th> <th><b>UK</b></th>
</tr></thead> <tbody>
<tr>
<td>3.5</td> <td>33</td> <td>1.5</td>
</tr>
<tr>
<td>4</td> <td>34</td> <td>2</td>
</tr>
<tr>
<td>4.5</td> <td>35</td> <td>2.5</td>
</tr>
<tr>
<td>5</td> <td>35.5</td> <td>3</td>
</tr>
<tr>
<td>5.5</td> <td>36</td> <td>3.5</td>
</tr>
<tr>
<td>6</td> <td>36.5</td> <td>4</td>
</tr>
<tr>
<td>6.5</td> <td>37</td> <td>4.5</td>
</tr>
<tr>
<td>7</td> <td>37.5</td> <td>5</td>
</tr>
<tr>
<td>7.5</td> <td>38</td> <td>5.5</td>
</tr>
<tr>
<td>8</td> <td>38.5</td> <td>6</td>
</tr>
<tr>
<td>8.5</td> <td>39</td> <td>6.5</td>
</tr>
<tr>
<td>9</td> <td>39.5</td> <td>7</td>
</tr>
<tr>
<td>9.5</td> <td>40</td> <td>7.5</td>
</tr>
<tr>
<td>10</td> <td>40.5</td> <td>8</td>
</tr>
<tr>
<td>10.5</td> <td>41</td> <td>8.5</td>
</tr>
<tr>
<td>11</td> <td>41.5</td> <td>9</td>
</tr>
<tr>
<td>11.5</td> <td>42</td> <td>9.5</td>
</tr>
<tr>
<td>12</td> <td>42.5</td> <td>10</td>
</tr>
<tr>
<td>12.5</td> <td>43</td> <td>10.5</td>
</tr>
</tbody>
</table>
</div>
        </div>
      </div>
    </div>
  </div>
</div>