<!-- Zip WIDGET -->
{%include 'zip-widget'%}
<style>
  #zip-prod-widget > iframe { 
    position: relative !important;
    right: 20px !important;
  }
</style>
<div style="cursor:pointer" id="zip-prod-widget" data-zm-asset="productwidget" data-zm-widget="popup" data-zm-popup-asset="termsdialog"></div>
<!-- end Zip WIDGET -->